page-specficproduct {

    .prodImage{
        width: 100%;
        height: 250px;
    }
    .sharePro{
        float: right;
        margin-right: 20px;
        font-size: 20px;
        margin-top: -39px;
    }

    .proName{
    display: block;
    text-align: center;
    font-size: 15px;
    }
    .proPrice{
    display: block;
    text-align: center;
    font-size: 13px; 
    }

}
