<ion-header>
  <ion-navbar>
    <button ion-button icon-only clear>
  <ion-icon name="arrow-dropdown" color="dark" ></ion-icon>
  <ion-searchbar [showCancelButton]="true"  [(ngModel)]="searchTerm" (ionCancel)="toggleSearch()" (ionInput)="setFilteredItems()" placeholder="Product Name"></ion-searchbar>
    <ion-icon name="chatboxes" color="dark"></ion-icon>
</button>
  </ion-navbar>     
</ion-header>       

<ion-content>    
   <div class="slider">  
        <ion-slides *ngIf="sliderImageName && sliderImageName.length"  autoplay="5000" loop="true" speed="500"  pager="true">
            <ion-slide *ngFor="let Image of sliderImageName">
                <img src="{{Image.imagePath}}" class="img" alt="Product Image">
            </ion-slide>                 
        </ion-slides>          
    </div> 
    <ion-grid padding>
  <ion-row>
    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 *ngFor="let item of getProduct" (click)="secficProOpen(item.id);">
             <img src="{{item.imagePath}}" class="prodImage" alt="proName"/>
            <span class="proPrice">Rs.  {{item.productPrice}}</span><br/>
            <span class="proName">{{item.productName}}</span>
            
    </ion-col>  
  </ion-row>
</ion-grid>
</ion-content>
